body {
  text-align: center;
  background-color: #011F3F;
}

li{
  padding: 2%;
}

p{
  text-align: center;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

@media (max-width: 1120px) {
  .instructions{
    position: relative;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
  }

  .btn {
    margin: 25px;
    display: inline-block;
    height: 7rem;
    width: 7rem;
    border: 10px solid black;
    border-radius: 20%;
  }

  .container {
    display: block;
    width: 80%;
    margin: auto;

  }

}

@media (min-width: 1120px) {
  .instructions{
    position: absolute;
    text-align: left;
    max-width: 30%;
  }


  .btn {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
  }

  .container {
    display: block;
    width: 50%;
    margin: auto;

  }
}




.instructions{

  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  color: #FEF2BF;
}



.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  opacity: 0.5;
}
